
.bodyContent p{
  font-weight: 400 !important;
  color: #826e7a !important;
}
.searchImg{
    width: 100%;
}
.aboutContent{
    padding: 80px 100px;
}
.aboutContentLeftCol h2{
color: #6F0A25;
font-size: 25px;
font-weight: 500;
margin-bottom: 20px;
text-transform: uppercase;
font-family: 'EB Garamond', serif;
letter-spacing: 4px;
}
.aboutContentContainerTitle{
  text-align: center;
}
.aboutContentContainerTitle h2{
  color: #6F0A25;
font-size: 25px;
font-weight: 500;
margin: 0 0 60px;
text-transform: uppercase;
font-family: 'EB Garamond', serif;
letter-spacing: 4px;
}
.aboutContentLeftCol p{
    color:#9D8794;
    font-size: 16px;
    font-weight: 500;
}
.videoListWrap{
    /* display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    overflow: scroll;
    width: 100%; */
   
    
}
/* .videoListWrap::-webkit-scrollbar {    display: none;} */
.videoList{
    /* min-width: 30%;
    width:50%;*/
    margin:0 10px; 
}
.videoList h3 {
    font-size: 18px;
    font-weight: 500;
    /* color: #9D8794; */
    color: #63545d;
    font-style: italic;
    margin: 18px 0;
}
.peapleAlsoViewedText{
    font-size: 25px;
    color: #6F0A25;
    margin-bottom: 25px;
    display: block;
    font-weight: 500;
}
.peapleAlsoViewedWrap{
    margin: 50px -12px;
}
.aboutTitleWrap{
    text-align: center;
}
.aboutTitleWrap h2{
    color: #6F0A25;
    font-size: 25px;
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    letter-spacing: 4px;
}
.aboutTitleWrap p{
    color: #6F0A25;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 500;
    
}
.aboutContentImg{
    width: 100%;
}
.aboutContentLeftCol p{
font-size: 16px;
font-weight: 500;
margin: 0;
}
.aboutContentImgWRap{
    padding-right: 25px;
}
.aboutContentImgWRapr{
    padding-right: 0;
    padding-left: 25px;
}
.aboutContentContainer{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pandalHopping {
    padding: 80px 100px;
    background-color: #FDF4F6
}
.advantagesWrap{
    padding: 80px 100px 50px;
   
}
.advantagesWrap h3{
    color: #6F0A25;
    font-size: 20px;
    font-weight: 500;
}
.advantagesBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border-radius: 10px;
    min-height: 410px;
    background-color: #FDF4F6;
    margin-bottom: 35px;
    -webkit-box-shadow: 0px 1px 11px 0px rgba(109, 33, 89, 0.2);
-moz-box-shadow:    0px 1px 11px 0px rgba(109, 33, 89, 0.2);
box-shadow:         0px 1px 11px 0px rgba(109, 33, 89, 0.2);
}
.advantagesBox p{
    color: #9D8794;
    font-weight: 500;
}
.advantagesBox img{
    margin: 25px 0;
}
.advantagesTitle{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 124px;
}
.advantagesTitle img{
    width: 50px;
}
.advantagesTitle h2{
    color:#6F0A25;
    font-size: 25px;
    font-weight: 500;
    padding: 0 30px;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    letter-spacing: 4px;
    

}

.aboutDurgaWrap{
    background-image: url('../public/img/about-img4.jpeg'); 
    padding: 90px 144px;
    display: flex;
    align-items: center;
      justify-content: flex-end;
      background-size: cover;
      background-position: center center;
}

  .aboutDurgaBox{
    width: 600px;
    background-color: #fff;
    padding: 45px 30px;
    border-radius: 10px;
    text-align: center;
  }
  .aboutDurgaBox h2{
    color: #6D214F;
    font-size: 25px;
    font-weight: 500;
    margin: 0 25px;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    letter-spacing: 4px;
  }
  .aboutDurgaBox p{
    color: #9D8794;
    line-height: 24px;
    font-size: 17px;
    margin-top: 30px;
    font-weight: 500;
  }
  .aboutDurgaBoxHead{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutDurgaBox .knowmoreBt{
    display: inline-flex
  }
  .knowmoreBt{
    background-color: #fff;
    border: 1px solid #E92352;
    padding: 15px 32px;
    border-radius: 41px;
    transition: all 0.3s ease 0s;
    color: #E92352;
    text-decoration: none;
    margin: 30px 0 0;
    cursor: pointer;
    /* -webkit-box-shadow: 0px 13px 23px 0px rgba(215, 32, 78, 0.16);
  -moz-box-shadow:    0px 13px 23px 0px rgba(215, 32, 78, 0.16);
  box-shadow:         0px 13px 23px 0px rgba(215, 32, 78, 0.16); */
  }
  .knowmoreBt:hover{
    color:#fff;
    background-color: #E92352;
  }
  .overviewWrap{
      padding: 80px 100px;
  }
  .overviewWrap .aboutContentImg{
      width: 58px;
      height: 79px;
  }
  .overviewWrap .advantagesTitle{
    padding-bottom: 32px;
    margin-bottom: 0;
  }
  .overviewWrap p{
      color:#9D8794;
      text-align: center;
      margin-bottom: 0;
      color: #9D8794;
      line-height: 24px;
      font-size: 17px;
      /* margin-top: 30px; */
      font-weight: 500;
  }

  .aboutContentLeftCol {
    padding-left: 25px;     
}
.aboutContentContainerForRight .aboutContentLeftCol{
    padding-left: 0;  
    padding-right: 25px;
}
.aboutBannerForMobile{
  display: none;
}
.aboutBanner {
  margin-top: 70px;
}
@media(max-width:992px){
    .aboutBanner{
margin-top: 63px;
    }
    .pandalHopping {
      padding: 40px 20px
  }
  .overviewWrap{
    padding: 40px 20px;
  }
  .aboutContent {
    padding: 40px 20px;
    /* background-color: #fdf4f6; */
  }
  .advantagesWrap {
    padding: 40px 20px 6px;
}
.aboutDurgaWrap{
    padding: 40px 20px;
}
.aboutDurgaBox{
    width: 100%;
}
.aboutDurgaBoxHead img{
    width: 15px;
}
  }
  @media(max-width:600px){
.aboutContentImgWRap{
  padding-right: 0;
  margin-bottom: 0;
}
.aboutContentLeftCol{
  padding-left: 0;
  margin-top: 32px;
}

.overviewWrap .aboutContentImg {
  width: 23px;
  height: auto;
}

.traditionalWrap .aboutContentLeftCol {
  padding-left: 0;
  padding-right: 0;
}
.aboutContentContainer{
  padding-top: 0;
}
.overviewWrap .advantagesTitle {
  padding-bottom: 0;
  margin-bottom: 12px;
}
.aboutContentImgWRapr {
  padding-right: 0;
  padding-left: 0;
  margin-top: 40px;
 
}
.aboutContentRightCol{
  padding-left: 0;
  margin-top: 42px;
}
.advantagesTitle{
  padding: 0;
}
.aboutContentContainerForMobile{
flex-direction: column;
}
.aboutContentContainerForMobile .aboutContentImgWRap{
  margin-top: 40px;
  margin-bottom: 40px;
}
.advantagesTitle img {
    width: 26px;
}
.aboutContentContainerForRight .aboutContentContainer {
    flex-direction: column-reverse;
}
.aboutContentContainerForRight .aboutContentLeftCol{
    padding-left: 0;  
    padding-right: 0 ;
}
.aboutContentContainerTitle h2{
  margin: 0 0 39px;
}
.advantagesTitle h2{
  font-size: 20px;
  padding: 0 15px;
}
.advantagesTitle{
  margin-bottom: 30px;
}
.aboutTitleWrap h2{
  margin: 0;
}
.aboutBannerForMobile{
  display: block;
}
.aboutBanner{
  display: none;
}
.aboutTitleWrapFOrMob{
  margin: 0 0 35px;
}
  }