

.bodyContent p{
  font-weight: 400 !important;
  color: #826e7a !important;
}

.searchImg {
  width: 100%;
}
.aboutContent {
  padding: 80px 100px;
  max-width: 1440px;
  /* background-color: #fdf4f6; */
}
.aboutContentLeftCol h2 {
  color: #6f0a25;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 34px;
    letter-spacing: 1px;
 
}
.aboutContentLeftCol h4 {
  font-size: 16px;
  font-style: italic;
}
.aboutContentLeftCol h5 {
  font-size: 34px;
  font-style: unset;
  margin-bottom: 25px;
  color: #6f0a25;
}
.aboutContentLeftCol p {
  color: #9d8794;
  font-size: 16px;
  font-weight: 500;
}
.videoListWrap {
  /* display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    overflow: scroll;
    width: 100%; */
}
/* .videoListWrap::-webkit-scrollbar {    display: none;} */
.videoList {
  /* min-width: 30%;
    width:50%;*/
  margin: 0 10px;
}
.videoList h3 {
  font-size: 18px;
  font-weight: 500;
  /* color: #9D8794; */
  color: #63545d;
  font-style: italic;
  margin: 18px 0;
}
.peapleAlsoViewedText {
  font-size: 25px;
  color: #6f0a25;
  margin-bottom: 25px;
  display: block;
  font-weight: 500;
}
.peapleAlsoViewedWrap {
  margin: 50px -12px;
}
.aboutTitleWrap {
  text-align: center;
}
.aboutTitleWrap h2 {
  color: #6f0a25;
  font-size: 27px;
    font-weight: 700;
  margin: 0 0 10px;
  letter-spacing: 1px;
}
.aboutTitleWrap p {
  color: #6f0a25;
  font-size: 16px;
  margin-bottom: 0;
}
.aboutContentImg {
  width: 100%;
}
.aboutContentLeftCol p {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
}
.aboutContentImgWRap {
  padding-right: 25px;
}
.aboutContentImgWRapr {
    padding-right: 0;
    padding-left: 25px;
  }
.aboutContentContainer {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pandalHopping {
  padding: 80px 100px;
  max-width: 1440px;
}
.advantagesWrap {
  padding: 80px 100px 15px;
}
.advantagesWrap h3 {
  color: #6f0a25;
  font-size: 20px;
}
.advantagesBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  border-radius: 10px;
  min-height: 450px;
  background-color: #fdf4f6;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 1px 11px 0px rgba(109, 33, 89, 0.2);
  -moz-box-shadow: 0px 1px 11px 0px rgba(109, 33, 89, 0.2);
  box-shadow: 0px 1px 11px 0px rgba(109, 33, 89, 0.2);
}
.advantagesBox p {
  color: #9d8794;
}
.advantagesBox img {
  margin: 25px 0;
}
.advantagesTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 64px;
}
.advantagesTitle img {
  width: auto;
}
.advantagesTitle h2 {
  color: #6f0a25;
  font-weight: 600;
  padding: 0 30px;
  font-size: 27px;
    font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.aboutDurgaWrap {
  background-image: url("../public/img/about-img4.jpg");
  padding: 90px 144px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.aboutDurgaBox {
  width: 600px;
  background-color: #fff;
  padding: 45px 30px;
  border-radius: 10px;
  text-align: center;
}
.aboutDurgaBox h2 {
  color: #6d214f;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 25px;
}
.aboutDurgaBox p {
  color: #9d8794;
  line-height: 24px;
  font-size: 16px;
  margin-top: 30px;
}
.aboutDurgaBoxHead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutDurgaBox .knowmoreBt {
  display: inline-flex;
}
.knowmoreBt {
  background-color: #fff;
  border: 1px solid #e92352;
  padding: 15px 32px;
  border-radius: 41px;
  transition: all 0.3s ease 0s;
  color: #e92352;
  text-decoration: none;
  margin: 30px 0 0;
  cursor: pointer;
  /* -webkit-box-shadow: 0px 13px 23px 0px rgba(215, 32, 78, 0.16);
  -moz-box-shadow:    0px 13px 23px 0px rgba(215, 32, 78, 0.16);
  box-shadow:         0px 13px 23px 0px rgba(215, 32, 78, 0.16); */
}
.knowmoreBt:hover {
  color: #fff;
  background-color: #e92352;
}
.overviewWrap {
  padding: 80px 100px;
  max-width: 1440px;
}
.overviewWrap .aboutContentImg {
  width: 58px;
  height: 79px;
}
.overviewWrap .advantagesTitle {
  padding-bottom: 32px;
  margin-bottom: 0;
}
.overviewWrap p {
    color: #9d8794;
    text-align: center;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
}
.aboutContentNew {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutContentLeftCol h4 {
    font-size: 23px;
    font-style: italic;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    color: #FFC312;
}

.aboutContentContainerNew{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* .aboutContentContainer h4 {
    font-size: 16px;
    font-style: italic;
}
.aboutContentContainer h5 {
    font-size: 34px;
    font-style: unset;
} */

.mythoBg{
    background-color: #FDF4F6;
    max-width:1440px
}

.aboutContentLeftCol{
    padding-left: 25px;
}
.aboutContentLeftColL{
    padding-left: 0;
}
.traditionalWrap .aboutContentLeftCol{
    padding-left: 0;
    padding-right: 25px;
}
.aboutContentRightCol p {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    line-height: 26px;
    color: #9d8794;
  }
  .aboutContentRightCol{
    padding-left: 25px;
  }
  .aboutBannerForMobile{
    display: none;
  }
  .aboutBanner {
    margin-top: 70px;
  }
  .imgWrapper{
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-self: center
  }
.traditionalWrap{
  max-width: 1440px;
}
  @media(min-width:1440px){
    .pandalHopping, .mythoBg, .traditionalWrap, .overviewWrap{
     margin: 0 auto;
   }
 }
  @media(max-width:992px){
    .aboutBanner{
margin-top: 63px;
    }
    .pandalHopping {
      padding: 40px 0
  }
  .overviewWrap{
    padding: 40px 0;
  }
  .aboutContent {
    padding: 40px 0;
    /* background-color: #fdf4f6; */
  }
  }
  @media(max-width:600px){
.aboutContentImgWRap{
  padding-right: 0;
  margin-bottom: 0;
}
.aboutContentLeftCol{
  padding-left: 0;
  margin-top: 32px;
}

.overviewWrap .aboutContentImg {
  width: 23px;
  height: auto;
}

.traditionalWrap .aboutContentLeftCol {
  padding-left: 0;
  padding-right: 0;
}
.aboutContentContainer{
  padding-top: 0;
  flex-direction: column-reverse;
}
.overviewWrap .advantagesTitle {
  padding-bottom: 0;
  margin-bottom: 0;
}
.aboutContentImgWRapr {
  padding-right: 0;
  padding-left: 0;
  margin-top: 40px;
 
}
.aboutContentRightCol{
  padding-left: 0;
}
.advantagesTitle{
  padding: 0;
}
.aboutContentContainerForMobile{
flex-direction: column;
}
.aboutContentContainerForMobile .aboutContentImgWRap{
  margin-top: 40px;
  margin-bottom: 40px;
}
.aboutBannerForMobile{
  display: block;
}
.aboutBanner{
  display: none;
}
.advantagesTitle h2{
  padding: 0 20px;
  /* font-size: 20px; */
}
.aboutTitleWrap h2{
  /* font-size: 20px; */
  margin: 0;
}
.aboutContentLeftCol h2{
  /* font-size: 20px; */
margin-bottom: 21px;
}
.imgWrapper{
  height: auto;
}
.overviewWrap .aboutContentImgAlpona {
  width:35px;
  height: auto;
}
  }