
.bodyContent p {
  font-weight: 400 !important;
  color: #826e7a !important;
  font-size: 20px;
}
.blogMainWrapperNew{
    padding:75px 135px 38px;
    margin-top:50px;
    max-width: 1440px;
  }


  .blogMainWrapperNew h2{
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    font-family: 'Playfair Display', serif !important;
    margin-bottom: 26px;
    color: #D51C4D;
  
letter-spacing: 1px;
  }
  .blogBox h4 {
    font-size: 22px;
    font-weight: 600;
    color: #6d214f;
}
.blogDetailsContent{
  margin: 20px 0;
}
.blogBoxImageWrapForDetails img{
  width: 100%;
}


.blogMainWrapperNewDetails{
  padding:0;
  margin-top:50px;
  max-width: 1440px;
}
.blogBoxDeatils h2{
  margin: 0 0 15px;
}

.blogBoxDeatils h4{
  font-size: 17px;
}
.blogBoxDeatils{
margin: 40px 240px;
}
.blogBoxDeatils img{
  width: 100% !important;
  margin: 25px 0;
  height: auto !important;
}

@media(min-width:1440px){
   .blogMainWrapperNew, .blogMainWrapperNewDetails{
    margin:70px auto 0;
  }
}
  @media(max-width:1024px){
    .countDownTimerWrap {
      width: 96%;
      height: auto;
      top: -37px;
  }
  .pujaListContainer{
    margin: 0 0;
  }
  .aboutContainer{
    padding: 0 0;
  }
  .blogMainWrapper{
    padding: 50px 36px;
  }
  .blogMainWrapperNew{
    padding: 50px 36px;
  }
  .footerLogoWrap img{
    width: 180px;
  }
  .footerCopyright{
    padding: 25px 0;;
  }
  .aboutDurgaWrap{
    justify-content: center;
  }
  }
  @media(max-width:992px){
  
  
    .pujaListContainer{
      margin: 0 0;
    }
    .pujaListBox{
      padding: 0 0;
    }
    .aboutContainer{
    
      padding:50px 0;
    }
    .aboutImg{
      margin: 0;
    }
    .aboutInfo{
      margin: 28px 0;
    }
    .aboutDurgaWrap{
      padding: 20px;
    }
    /* .aboutDurgaBox h2{
      font-size: 18px;
    } */
    .aboutDurgaBoxHead img{
      width: 47px;
    }
    .blogMainWrapper{
      padding: 50px 0;
    }
    .blogMainWrapperNew{
      padding: 50px 0;
    }
    .footer{
      padding: 20px;
      text-align: center;
    }
    .footerLogoWrap{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
    }
    .footerLogoWrap img{
  width: 150px;
  
    }
    .footerCopyright{
      margin-top: 25px;
    }
    .headTitle{
      text-align: center;
    }
    .trisool {
      width: 66px;
  }
  .searchWrapMain{
    margin: 0 15px;
  }
  
  .countDownTimerWrap h2 {
    font-size: 18px;
    margin-top: 36px;
  }
  .countDownBox h3 {
    font-size: 24px;
  }
  section.countDownBox{
    width: auto;
  }
  .countDownBoxLast h3 {
    font-size: 24px;
  }
  section.countDownBoxLast {
    width: auto;
    margin-left: 0;
  }
  .countDownBox h3 span{
    margin: 0 21px;
    position: relative;
    top: -2px;
  }
  
  .countDownTimerBgIcon1 img{
    display: none;
  }
  .countDownTimerBgIcon2 img{
    display: none;
  }
  .countDownBox p{
    padding-left: 0;
  
    font-size: 14px;
  }
  .countDownBoxLast p{
    padding-left: 0;
    font-size: 14px;
  }
  .countDownWrap{
    margin-left: 19px;
  }
  .countDownBox span{
    font-size: 24px;
    margin: 0 15px 0;
    top: -26px;
  }
  .navWrap{
    background:#D51C4D ;
    justify-content: flex-start;
  }
  .mainnavWrap{
    height: auto;
  }
  .navlistShare{
    margin-left: 0;
  }
  .carouselWrap{
    margin-top: 80px;
  }
  .carouselWrap h2{
    font-size: 12px;
  }
  }
  @media(max-width:800px){
    /* .countDownTimerWrap{
      width: 100%;
      height: auto;
      top: -13px;
      } */
      .countDownTimerWrap {
        width: 68%;
        height: auto;
        top: -37px;
    }
    .blogBoxImageWrap{
  height: auto;
    }
    .blogBoxDeatils{
      margin: 40px 0;
  }

  }
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
    .countDownTimerWrap{
      width: 100%;
      height: auto;
      top: -13px;
      }
      
  }