@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body, html{
  font-family: 'Poppins', sans-serif !important;
};
textarea:focus, input:focus{
  outline: none;
}
.navWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainnavWrap {
  background-color: #d51c4d !important;
}
.navlist {
  color: #fff !important;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.navlist:hover {
  color: #ffc312 !important;
  font-family: "Poppins", sans-serif;
}
.navlistShare {
  color: #fff !important;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: #ffc312;
  border-radius: 100px;
  /* padding: 12px 35px; */
  width: 100px;
  text-align: center;
  height: 33px;
  line-height: 18px;
  margin-top: 4px;
  margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}