/* .main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
} */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
.bodyContent p{
  font-weight: 400 !important;
  color: #826e7a !important;
}
.form-control:focus {
  border: unset;
  box-shadow: unset;
}
.headTitle {
  font-size: 25px;
  color: #9a6d04;
  font-weight: 600;
  /* color: #FDB816; */
  text-transform: uppercase;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: 1px;
}
.trisool {
  /* width: 74px;
  height: 50px; */
}
.headTitleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchWrapMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 42px 0;
}
.searchWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #ccc; */
  border-radius: 100px;
  width: 625px;
  height: 60px;
  padding: 0 8px 0 25px;
  margin: 27px 0;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(140, 43, 89, 0.46);
  -moz-box-shadow: 0px 6px 8px 0px rgba(140, 43, 89, 0.46);
  box-shadow: 0px 6px 8px 0px rgba(140, 43, 89, 0.46);
}

.formWrap {
  width: 100%;
}
.searchBt {
  padding: 11px 28px;
  background-color: #d51c4d;
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.formWrap .inputStyle {
  border: none;
}
.formWrap .inputStyle:focus {
  border: unset;
  box-shadow: unset;
}

.pujaListImg {
  width: 100%;
  border-radius: 5px;
}
.pujaListContainer {
  margin: 0 100px;
  max-width: 1800px;
}
.pujaListBox {
  padding: 0 40px;
  text-align: center;
  margin-bottom: 35px;
  position: relative;
}
.pujaListBox h3 {
  font-size: 22px;
  font-weight: 400;
  /* color:#9D8794; */
  color: #63545d;
  font-style: italic;
  margin: 18px 0;
  height: 58px;
    overflow: hidden;
}
.three60Bt {
  position: absolute;
  top: 52px;
  right: 30px;
}
.shareBt {
  position: absolute;
  bottom: 13px;
  right: 50px;
}
.aboutContainer {
  /* background-color: #fdf4f6; */
  padding: 90px 100px;
  margin: 0 0 0;
  max-width: 1800px;
}
.aboutInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 25px;
}
.aboutInfo h2 {
  font-size: 27px;
  font-weight: 700;
  color: #6d214f;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.aboutInfo p {
  font-size: 18px;
  font-weight: 500;
  color: #6d214f;
}
.aboutInfo img {
  margin: 15px 0;
}
.aboutImg {
  margin: 0 37px;
}
.aboutBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.knowmoreBt {
  background-color: #fff;
  border: 1px solid #e92352;
  padding: 15px 32px;
  border-radius: 41px;
  transition: all 0.3s ease 0s;
  color: #e92352;
  text-decoration: none;
  margin: 30px 0;
  cursor: pointer;
  /* -webkit-box-shadow: 0px 13px 23px 0px rgba(215, 32, 78, 0.16);
-moz-box-shadow:    0px 13px 23px 0px rgba(215, 32, 78, 0.16);
box-shadow:         0px 13px 23px 0px rgba(215, 32, 78, 0.16); */
}
.knowmoreBt:hover {
  color: #fff;
  background-color: #e92352;
}
.countDownTimerWrap {
  width: 1110px;
  height: 278px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: -44px;
  z-index: 999;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.44);
}
.countDownTimerWrap h2 {
  font-size: 25px;
  font-weight: 600;
  color: #6f0a25;
  margin-top: 46px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: 1px;
}
.aboutDurgaWrap {
  background-image: url("../public/img/dhunochi-naach-durga-puja.webp");
  padding: 90px 144px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  max-width: 1800px;
}
.aboutDurgaBox {
  width: 600px;
  background-color: #fff;
  padding: 40px 0 15px;
  border-radius: 10px;
  text-align: center;
}
.aboutDurgaBox h2 {
  color: #6d214f;
  font-size: 27px;
  font-weight: 700;
  margin: 0 25px;
  
  letter-spacing: 1px;
}
.aboutDurgaBox p {
  color: #9d8794;
  font-size: 17px;
  margin-top: 30px;
  font-weight: 500;
  padding: 0 45px; 
}
.aboutDurgaBoxHead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutDurgaBoxHead img{
 width: 40px;
}
.aboutDurgaBox .knowmoreBt {
  display: inline-flex;
}
.footer {
  background-color: #d7204e;
  padding: 63px 135px 40px;
  max-width: 1800px;
}
.footerLinks h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
}
.footerLinks p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.footerLinks{
  display: flex;
  flex-direction: column;
}
.footerLinks span {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.footerCopyright {
  text-align: right;
  width: 100%;
  color: #fff;
  display: block;
  padding: 46px 43px 0 0;
  
}
.shareLinks a {
  margin-right: 15px;
}
.navWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mainnavWrap {
  background-color: #d51c4d !important;
  height: 70px;
}
.navlist {
  color: #fff !important;
  text-transform: uppercase;
  margin:14px 10px 0;
  padding-bottom: 8px;
}
.navlist:hover {
  color: #ffc312 !important;
}
.navlistShare {
  color: #fff !important;
  /*  */
  text-transform: uppercase;
  /* background-color: #ffc312; */
  border-radius: 100px;
  /* padding: 12px 35px; */
  width: 118px;
  text-align: center;
  height: 47px;
  line-height: 26px;
  margin-top: 12px;
  margin-left: 15px;
  border: 2px solid #ffc312;
  transition: all 0.3s ease 0s;
}
.navlistShare:hover{
background-color: #ffc312;
color: #fff !important;
}

.blogMainWrapper {
  padding: 63px 135px 40px;
  margin: 0;
  max-width: 1800px;
}
.blogBox {
  margin-bottom: 25px;
}
.blogBox h4 {
  font-size: 22px;
  font-weight: 600;
  color: #6d214f;
}
.blogBox h3 {
  font-size: 16px;
  margin: 15px 0;
}
.blogBox h3.postedBy {
  color: #5a5858;
  margin: 0;
}
.blogBoxImage {
  width: 100%;
}
.blogBoxImageWrap {
  height: 228px;
  overflow: hidden;
  border-radius: 10px;
 
}
.blogMainWrapperNew{
  max-width: 1800px;
}
.blogBoxImageWrap img{
  height: 100%;
}
.blogMainWrapper h2 {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 54px;
  color: #d51c4d;
 
  
  letter-spacing: 1px;
}
.carouselWrap {
  position: relative;
  margin-top: 70px;
  /* height: 600px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
}
.carouselWrap h2 {
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
  font-size: 25px;
  color: #fff;
}
.carouselWrap h1 {
  position: absolute;
    z-index: 999;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 48px;
    font-size: 23px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 3px;
    width: 68%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
   
}

.carouselWrapForMobile h1 {
  position: absolute;
  z-index: 999;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 269px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 3px;
  width: 93%;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  display: none;
}
.moreBlogBtWrap {
  display: flex;
  justify-content: center;
}
.chooseYear {
  margin:0 22px 0 24px;
}
.chooseYearSelect {
  border-radius: 100px !important;
  margin: 0 0 0 15px;
  font-size: 20px !important;
  height: 49px;
  width: 103px;
}
.searchBox{
  width: 55%;
  display: flex;
  align-items: center;
}
.mainnavWrap {
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
#basic-nav-dropdown {
  color: #fff;
}
.countDownWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  margin-left: 41px;
}
.countDownBox h3 {
  font-size: 80px;
  color: #d51c4d;
  font-weight: 600;
}
.countDownBox span {
  display: inline-flex;
  margin: 0 0 0 40px;
  position: relative;
  top: -31px;
  font-size: 80px;
  color: #d51c4d;
  font-weight: 600;
}
.countDownBoxLast h3 {
  font-size: 80px;
  color: #d51c4d;
  font-weight: 600;
}
.countDownBoxLast h3 span {
  display: inline-flex;
  margin: 0 25px 0 34px;
  position: relative;
  top: -8px;
}
section.countDownBox {
  width: 198px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.countDownBoxLast {
  width: 138px;
  margin-left: -9px;
}
.countDownBoxLast p {
  padding-left: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #827d7d;
}
.countDownBox p {
  /* padding-left: 21px; */
  text-transform: uppercase;
  font-weight: 600;
  color: #827d7d;
}
.countDownBoxInner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.countDownTimerBgIcon1 {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
}
.countDownTimerBgIcon2 {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}
.carouselWrapForMobile {
  display: none;
}


.footerLogoWrap{
  width: 147px;
}
.footerLogoWrap img{
  width: 100%;
}
.newsletterBox{
  display: flex;
  align-items: flex-start;
  flex-direction: column;

 
}
.newsletterBoxMain .newsletterBox{
  align-items: center;
}
.newsletterWrap h2{
  font-size: 22px;
  color: #fff;
  margin-top: 65px;
}
.newsletterBox button{
  border-radius: 100px;
  background-color: #ffc312;
  border: unset;
  width: 152px;
  margin: 0 auto;
  /* margin-left: 103px; */
}
.newsletterBox input{
  background: unset;
  border: unset;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #fff;
  padding-left: 0;
  padding-left: 8px;
  border-radius: 5px;
}
.newsletterBoxMain .newsletterBox input{
color: #333;
}
.footerLinks a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 8px;
}
.footerLinks a:hover{
  color: #fff;
 
}
.shareLinks a{
  border:1px solid #fff;
}
.shareLinks {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* padding: 8px; */
}
.shareLinks a {
  border: 1px solid #fff;
  padding: 3px 12px;
  border-radius: 100px;
  color: #fff !important;
  text-align: left;
  width: 113px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: flex;
  align-items: center;
}
.shareLinks a:hover {
  background-color: #fff;
  color: #d7204e !important;
}
.shareLinks a:hover span {
  
  color: #d7204e !important;
}
.shareLinks a i{
  margin-right: 9px;
  position: relative;
  top:1px;
  width: 14px;
}
.inputStyle:focus{
  background-color: unset !important;
  box-shadow: unset !important;
  color: #fff !important;
  border-color: #fff !important;
}
.inputStyle::placeholder {
  color: #fff !important;
  opacity: 1;
}
.inputStyleForHomeSearch::placeholder{
  color: rgb(162, 162, 162) !important;
}
.inputStyleForHomeSearch:focus{
  color: #000 !important;
}
.newsletter{
  width:100%;
}
.newsletter span{
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  display: block;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 8px;
}
.newsletter span a{ 
  color: #ffc312;
  
}
.chooseYearNSearch{
display: flex;
align-items: center;
}
.newsletterBoxMain .newsletterWrap h2{
  font-size: 27px;
  color: #000;
  margin-top: 0;
  font-weight: 700;
  color: #6d214f;
  
  letter-spacing: 1px;
  margin-bottom: 35px;
}
.newsletterBoxMain .newsletter span {
  color: #000;
  font-size: 15px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.newsletterBoxMain .newsletter{
  width: 100%;
}
.newsletterBoxMain .newsletter .inputStyle:focus {
  background-color: unset !important;
  box-shadow: unset !important;
  color: #000 !important;
  border-color: #000 !important;
}
.newsletterBoxMain .inputStyle::placeholder {
  color: rgb(153, 152, 152) !important;
  opacity: 1;
}
/* .newsletterBoxMain .newsletterBox{
  flex-direction: column;
} */
.newsletterWrap {
  width: 352px;
  margin: 0;
}
.newsletterBoxMain .newsletterBox button {
  width: 187px;
 margin: 23px auto 0;
}
.newsletterBoxMain .newsletterWrap{
  width: 518px;
  margin: 0 auto;
}

.newsletterBoxMain{
  padding: 71px 0 71px 35px;
}
.newsletterBox button:focus, .newsletterBox button:hover{
background-color: #ffc312;
box-shadow: unset;
}


.newsletterWrapper {
  background: #fdf4f6;
  margin-top: 50px;
}

@media(min-width:1800px){
  .pujaListContainer, .aboutContainer, .blogMainWrapper, .aboutDurgaWrap, .carouselWrap, .footer, .blogMainWrapperNew{
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .newsletterBox{
    align-items: flex-start;
  }
  .newsletterBox button {
    /* margin-left: 0; */
    margin-top: 20px;
}
  .countDownTimerWrap {
    width: 90%;
    height: auto;
    top: -37px;
  }
  .pujaListContainer {
    margin: 0 0;
  }
  .aboutContainer {
    padding: 70px 0;
  }
  .blogMainWrapper {
    padding: 63px 36px 43px;
  }
  .footerLogoWrap img {
    width: 180px;
  }
  .footerCopyright {
    padding: 25px 0;
  }
  .aboutDurgaWrap {
    justify-content: center;
    padding: 79px 144px;
  }
  .countDownTimerBgIcon1 {
    top: 60%;
  }
  .countDownTimerBgIcon2 {
    top: 60%;
  }
  .countDownTimerBgIcon1 img {
    width: 65px;
  }
  .countDownTimerBgIcon2 img {
    width: 65px;
  }
  .countDownTimerWrap__5OFGy h2 {
    margin-top: 22px;
  }

  .pujaListBox h3 {
    margin: 41px 0 18px 0;
    height: 58px;
    overflow: hidden;
}
.footer{
  padding: 63px 36px 40px;
}
}
@media (max-width: 992px) {
  .pujaListContainer {
    margin: 0 60px;
  }
  .pujaListBox {
    padding: 0 0;
    margin-bottom: 16px;
  }
  .aboutContainer {
    padding: 17px 62px 2px;
  }
  .aboutImg {
    margin: 0;
  }
  .aboutInfo {
    margin: 28px 0;
  }
  .aboutDurgaWrap {
    padding: 50px 20px;
  }
  /* .aboutDurgaBox h2{
    font-size: 18px;
  } */
  .aboutDurgaBoxHead img {
    width: 26px;
    margin: 14px;
  }
  .blogMainWrapper {
    padding: 52px 60px 30px;
  }
  .footer {
    padding: 20px;
    /* text-align: center; */
  }
  .footerLogoWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    width: auto;
    margin-top: 63px;
  }
  .footerLogoWrap img {
    width: 150px;
  }
  .footerCopyright {
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 56px;
  }
  .headTitle {
    text-align: center;
  }
  .trisool {
    width: 49px;
  }
  .searchWrapMain {
    margin: 0 15px;
  }

  .countDownTimerWrap h2 {
    font-size: 18px;
    margin-top: 21px;
    padding: 0 15px;
    text-align: center;
  }
  .countDownBox h3 {
    font-size: 24px;
  }
  section.countDownBox {
    width: auto;
  }
  .countDownBoxLast h3 {
    font-size: 24px;
  }
  section.countDownBoxLast {
    width: auto;
    margin-left: 0;
  }
  .countDownBox h3 span {
    margin: 0 21px;
    position: relative;
    top: -2px;
  }

  .countDownTimerBgIcon1 img {
    display: none;
  }
  .countDownTimerBgIcon2 img {
    display: none;
  }
  .countDownBox p {
    padding-left: 0;

    font-size: 14px;
  }
  .countDownBoxLast p {
    padding-left: 0;
    font-size: 14px;
  }
  .countDownWrap {
    margin-left: 19px;
  }
  .countDownBox span {
    font-size: 24px;
    margin: 0 15px 0;
    top: -26px;
  }
  .navWrap {
    background: #d51c4d;
    justify-content: flex-start;
  }
  .mainnavWrap {
    height: auto;
  }
  .navlistShare {
    margin-left: 0;
    margin: 20px auto;
    width: 100%;
  }
  .carouselWrap {
    margin-top: 58px;
  }
  .carouselWrap h2 {
    font-size: 12px;
  }
  .knowmoreBt {
    margin: 30px 0 19px 0;
  }
  .blogMainWrapper h4 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .footerLinks{
    margin: 61px 0 0;
}
/* .newsletterBoxMain .newsletterWrap{
  width: auto;
} */
.newsletterWrapper {
  margin-top: 36px;
}
.newsletterBoxMain{
  padding: 43px 0;
}
}
@media (max-width: 800px) {
  /* .countDownTimerWrap{
    width: 100%;
    height: auto;
    top: -13px;
    } */
  .countDownTimerWrap {
    width: 632px;
    height: auto;
    top: -37px;
  }
  /* .blogBoxImageWrap {
    height: auto;
  } */

  .shareBt {
    right: 13px;
  }
  .newsletterWrap {
    margin: 0 auto;
}
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .countDownTimerWrap {
    width: 93%;
    height: auto;
    top: -13px;
  }
  .carouselWrap h2 {
    display: none;
  }
  .countDownWrap {
    margin-left: 16 px;
  }
  .countDownBoxInnerLastDot {
    display: none !important;
  }
  .shareBt {
    bottom: 12px;
    right: 9px;
  }
  .carouselWrap {
    display: none;
  }
  .carouselWrapForMobile {
    display: block;
    margin-top: 56px;
  }
  .carouselWrapForMobile img {
    /* height: 600px; */
  }
  .pujaListContainer {
    margin: 0 0px;
  }
  .aboutContainer {
    padding: 49px 2px 17px;
  }
  .aboutInfo {
    margin: 42px 0 14px;
    align-items: center;
  }
  .aboutInfo h2{
    margin-bottom: 29px;
    /* font-size: 20px; */
  }
  .aboutDurgaBox h2{
    /* font-size: 20px; */
  }
  .blogMainWrapper h2{
    /* font-size: 20px; */
  }
  .newsletterBox{
    flex-direction: column;
  }
  .newsletterBox button {
    width: 100%;
    margin: 25px 0 15px;
}
.footerLinks span {
  display: none;
}
.newsletter {
  width: 100%;
}
.shareLinks a{
  height: 40px;
  width: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.shareLinks a i {
  margin-right: 0;
}
.shareLinks {
 
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footerLinks {
  margin-top: 25px;
}
.newsletterWrap h2 {
  margin-top: 80px;
  text-align: left;
}
.searchWrap{
  box-shadow: unset;
  flex-direction: column;
  height: auto;
}
.searchBox{
  border-radius: 100px;
    width: 100%;
    height: 60px;
    padding: 0 8px 0 25px;
    margin: 27px 0 19px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(140, 43, 89, 0.46);
    -moz-box-shadow: 0px 6px 8px 0px rgba(140, 43, 89, 0.46);
    box-shadow: 0px 6px 8px 0px rgba(140, 43, 89, 0.46);
}
.searchWrap{
  padding: 0 8px;
  width: 100%;
}
.chooseYear{
width: 100%;
margin-left: 0;
width: 200px;
}
.chooseYearSelect{
  margin: 0;
  width: 100% !important;
}
.searchBt{
  width: 100%;
  margin-top: 15px;
}
.chooseYearNSearch{
 width: 100%;
 
  }
  .searchBt{
    margin-top: 0;
  }
  .headTitleWrap{
    margin: 0 15px;
  }
  .blogBox h3 {
    margin: 15px 0 5px;
}
.newsletterBoxMain .newsletterWrap h2{
/* font-size: 20px; */
}
.pujaListBox h3{
  font-size: 19px;
}
.newsletterBoxMain .newsletterWrap{
  width: auto;
}
.blogMainWrapper {
  padding: 52px 7px 30px;
}
.newsletterWrap {
  width: auto;
}
}
